body{
  background-color: bisque;
  
  }
  
 
.custom-slider {
  width: 100%;
  max-width: 900px;
 margin-top: 5rem;
 
  overflow: hidden; 
  position: relative;
}


.slider-images {
  display: flex;
  transition: transform 0.5s ease-in-out; 
  
}


.slider-images img {
  flex: 0 0 auto;
  width: 100%; 
  height: auto; 
  
}


.slider-dots {
  display: flex;
  justify-content: center;
  margin-top: 10px; 
}


.slider-dots span {
  width: 10px; 
  height: 10px; 
  border-radius: 50%;
  background-color: #333; 
  margin: 0 5px; 
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}


.slider-dots span.active {
  background-color: #ff5733; 
}